body {
	font-family: 'Montserrat';
    background-color: #60a9a6;

}

#button {
  outline: 0;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #caf2d7;
  color: black;
  border: 0;
  cursor: pointer;
  height: 50px;
  width: 800px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  text-align: center;
  margin-top: 20px;
}

#button:hover {
  opacity: 0.5;
}

#questionBlock {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    width: 60%;
    text-align: left;
    border: 2px rgba(255, 255, 255, 0.8) solid;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 6px 6px 6px grey;
}

h1, h3 {
    text-align: center;
}


