body {
	font-family: 'Montserrat';

}

#button {
  outline: 0;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4A6D8B;
  color: #fff;
  border: 0;
  cursor: pointer;
  height: 50px;
  width: 200px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#button:hover {
  background-color: #3e5b74;
}